{% extends 'base.html' %} {% block content %}

{% if admin=="wpoLlkQ7h4Mz5aVnpiA4" %}

<div class="bigLogo">
    <h1 class="mainTitle" id="informations">Informations</h1>
  </div>
  <br />
  <div class="informations">
    <h2>Introduction</h2>
    Le C.I.F., autrement appelé Club Informatique de Franklin est un groupe qui
    réunit des lycéens et collégiens passionnés par l'informatique, et qui veulent
    se réunir pour réaliser des projets en lien avec l'algorithmie, et la
    programmation. <br />
  
    <h2>Organisation du club par un serveur Discord :</h2>
  
    Le C.I.F. s’organise actuellement autours d’un serveur Discord , géré par des
    modérateurs , un président et un vice-président. <br />
    Pour une bonne cohésion du groupe, des règles ont été fixées. Celles-ci
    prônent le respect d’autrui et bannissent les conversations inappropriées. Les
    modérateurs peuvent donner des sanctions, soit une impossibilité au membre
    irrespectueux de communiquer sur le serveur Discord, soit un bannissement
    temporaire ou définitif du club. Cela doit néanmoins être discuté avec tous
    les modérateurs du club.<br />
  
    <h2>Entrainement en individuel</h2>
    Le C.I.F. propose plusieurs sites d’entrainement à l’informatique pour
    augmenter son niveau. Ces derniers ont des thèmes très divers, c’est-à-dire
    que l’on peut aussi bien retrouver de l’entrainement à la cyberdéfense, Hacker
    Rank , qu’au développement d’intelligences artificielles, Leek Wars . Sur
    chacun de ces sites, nous essayons de trouver un « Référant », c’est-à-dire
    une personne du club maitrisant particulièrement bien un sujet et qui peut
    donc aiguiller les autres. <br />
    Les différents thèmes que nous pouvons retrouver dans les entrainements sont
    donc :<br />
    -La cybersécurité<br />
    -L’intelligence artificielle<br />
    -La résolution de problèmes en un temps limité<br />
    -L’algorithmie<br />
    -La résolution de problème complexes<br />
  
    <h2>Projets hebdomadaires</h2>
    Le C.I.F propose en plus des entrainements individuels des séances
    facultatives où le club se réunit pour une à deux heures. Nous nous accordons
    alors sur l’un des projets proposés par un membre pour essayer de le réaliser.
    Il est alors possible de progresser en Mathématiques et en Informatique, en
    effet résoudre les projets des autres membres oblige à apprendre de nouvelles
    notions.<br />
    Dans les différents projets réalisés l’année dernière, nous pouvons retrouver
    par exemple un jeu d’échec, mais aussi des mises en pratique de la théorie des
    graphes, et bien d’autres projets mathématiques. <br />
    Les projets peuvent donc être proposé par n’importe quel membre du club sur le
    serveur Discord, et le choix du projet se votera à la majorité lors d’une
    séance.<br />
    Pour unir les membres, nous avons décidé de coder en Python, langage au
    programme de Seconde. Simple à apprendre, il est facile de maitriser les bases
    pour commencer très vite ses premiers projets.<br />
  
    <h2>Recrutement</h2>
    Pour continuer de donner vie à ce club, il est indispensable de recruter plus
    de membres. Pour cela, il suffit de se rendre sur le lien de notre serveur
    Discord et de déposer une candidature , c’est-à-dire envoyer une courte
    présentation ainsi que son niveau en informatique. Il faut de plus montrer sa
    motivation ! En effet, nous ne sommes par là pour coder pour les membres, mais
    avec les membres. C’est à dire que nous attendons des participants d’être
    motivés par la programmation et le fait d’en apprendre plus. <br />
    Pour éviter une trop grande différence de niveaux, nous demandons une
    connaissance des bases de Python pour rejoindre le club. Ces dernières
    s’apprennent en quelques heures dans des livres où sur Internet, nous serons
    ravis de donner des références. Pour le niveau mathématique, nous demandons un
    niveau de 3ème minimum, c’est pourquoi nous n’allons pas voir les classes
    inférieures.<br />
    <br />
    <h2><u>Lien du server Discord</u></h2>
    >>>
    <a href="https://discord.gg/7M2CUX7Qmw" class="discordLink"
      >https://discord.gg/7M2CUX7Qmw</a
    >
  </div>
  <div class="bigLogo2"><h1 class="mainTitle" id="history">Histoire</h1></div>
  <div class="history">
    Le CIF a été créé par trois élèves de Franklin en 2020: deux terminales et un
    seconde.
    <br />
    Le Club avait alors pour but de réunir ces trois lycéens passionnés tous les
    samedis dans le cadre de projets d'informatiques poussés comme la création
    d'un jeu d'échec, d'un résolveur de labyrinthe, ...<br />
    En outre ce club avait pour but de créer une équipe participant à plusieurs
    concours tels que Prologin ou bien les concours Google.
    <br />
    En 2021, l'élève de seconde a décidé de donner une autre vie à ce club avec
    l'aide de Monsieur Bouhey, qui était alors son préfet; un nouvel objectif vu
    le jour : donner l'opportunité à tous d'apprendre l'informatique. Deux heures
    par semaines, les membres se réunissaient donc pour suivre des cours donnés
    par les plus aguerris en programmation, et réaliser alors à leur tour des
    projets.
  </div>
  <div class="bigLogo3"><h1 class="mainTitle" id="concours">Concours</h1></div>
  <div class="concours">
    Les sites d’entrainement mènent pour ceux qui le souhaitent à différents
    concours. Ces derniers sont évidemment facultatifs, et permettent aux membres
    de tester leur niveau s’ils le souhaitent.<br />
    Les concours actuellement proposés sont :<br /><br />
  
    -<a href="https://prologin.org/"><b>Prologin</b></a> : Un concours national
    s’adressant au moins de 21 ans. Le but de ce concours est de faire découvrir
    le monde de la programmation et de l'algorithmique aux étudiants et de les
    confronter à des problèmes classiques et des défis excitants. Les
    qualifications commencent le 15 octobre.<br /><br />
    -<b>Google Jam</b> : Un concours international Google où des programmeurs du
    monde entier testent leur niveau. Les dates ne sont pas encore annoncées.<br /><br />
    -<b>Google Kick Start</b> : Un concours international Google où des
    programmeurs s’affrontent des dans rounds de 3h où ils résolvent des problèmes
    d’algorithmie de niveau exponentiel. Il faut vérifier fréquemment sur le site
    du concours pour avoir la date du prochain round.<br /><br />
    -<b>Google Hash Code</b> : Un concours international Google par équipe où des
    groupes de programmeurs peuvent s’affronter dans la résolution de problèmes
    complexes en un temps limité. Les candidatures sont ouvertes le 23
    novembre.<br /><br />
  </div>
  <br />
  <div class="bigLogo6"><h1 class="mainTitle" id="exit">Sorties</h1></div>
  <div class="exit">
    Le C-I-F ne se limite pas aux réunions hebdomadaires. En effet l'un de nos
    objectifs est de faire découvrir le monde de l'informatique à tous, avec
    notamment les différents métiers que nous pouvons retrouver.
    <br />
    Dans ce cadre, deux sorties ont été faites avec des membres volontaires:<br />
    -Une réunion au BCG Gamma avec la présentation des différents métiers de la
    tech<br />
    -La visite du salon d'informatique Vivatech afin d'être en contact avec la
    pointe de la technologie et de trouver de nouvelles idées de projets<br />
  </div>
  <br />
  <div class="bigLogo4"><h1 class="mainTitle" id="projets">Projets</h1></div>
  <div class="projets">
    <h2>Projets hebdomadaires</h2>
    Le C.I.F propose en plus des entrainements individuels des séances
    facultatives où le club se réunit pour une à deux heures. Nous nous accordons
    alors sur l’un des projets proposés par un membre pour essayer de le réaliser.
    Il est alors possible de progresser en Mathématiques et en Informatique, en
    effet résoudre les projets des autres membres oblige à apprendre de nouvelles
    notions.<br />
    Dans les différents projets réalisés l’année dernière, nous pouvons retrouver
    par exemple un jeu d’échec, mais aussi des mises en pratique de la théorie des
    graphes, et bien d’autres projets mathématiques. <br />
    Les projets peuvent donc être proposé par n’importe quel membre du club sur le
    serveur Discord, et le choix du projet se votera à la majorité lors d’une
    séance.<br />
    Pour unir les membres, nous avons décidé de coder en Python, langage au
    programme de Seconde. Simple à apprendre, il est facile de maitriser les bases
    pour commencer très vite ses premiers projets.<br />
    <h2>Projets sur le long terme</h2>
    En plus de ces projets, le club propose un accompagnement en dehors des
    séances, en effet chaque personne a en plus de l'informatiques d'autres
    passions qui peuvent être mises à profit: certains peuvent en effet être
    graphistes, d'autres musiciens.<br />
    Cela permet donc le développement de projets plus importants comme des jeux
    vidéos, des robots (projet prévu en 2022-2023), de l'intelligence
    artificielle, ...
    <h2>Exemples de projets</h2>
    - 📍 Localisation de tous les crimes commis à Chicago à une année donnée
    <br />
    - 🎮 Automatisation du jeu Cookie Clicker <br />
    - 🤖 Création d'un bot Discord <br />
    - 🗣️ Création d'un tchatbot (avec une intelligence artificielle) <br />
    - 🌐 Création d'un site web <br />
    - ➕ Création d'une bibliothèque Python de mathématiques <br />
    - ...
  </div>
  <br />
  
  <div class="bigLogo5"><h1 class="mainTitle" id="blog">Blog</h1></div>
  <div class="blog">
    {% for post in posts %}
  
    <details>
      <summary class="summaryTitle">
        <h2>> {{ post['title'] }}<br /></h2>
        {{ post['name'] }}
        <span class="badge badge-primary">{{ post['created'] }}</span>
      </summary>
      <br />
  
      {% if post['details'] %}
      <p>{{ post['details'] }}</p>
      {% endif %}
      <br>
      
      {% if post['response'] %}
      <b>Réponse: </b>
      <p>{{ post['response'] }}</p>
      <i>-{{ post['responseWriter'] }}</i>
      {% endif %}
  
    </details>
    <br>
    <div class="adminBtns">
      <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Supprimer"
                class="littleBtn"
                onclick="return confirm('Voulez-vous vraiment supprimer ce post?')">
    </form>
    <form action="{{ url_for('edit', id=post['id']) }}">
      <input type="submit" value="Modifier"
              class="littleBtn">
  </form>
    </div>
    
  
    <br />
  
    <hr />
  
    {% endfor %}
  
    <details>
      <summary>
        <div class="blogCreation" onclick="goToEnd()">
          <span class="badge badge-warning">Créer un nouveau post</span>
        </div>
      </summary>
      <br />
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert">{{message}}</div>
      <br />
      {% endfor %} {% endif %} {% endwith %}
      <div>
        <br />
        <form method="post">
          <div class="form-group">
            <h2><label for="title">Titre: </label></h2>
            <br />
            <input
              type="text"
              name="title"
              placeholder="Choisissez votre titre"
              class="form-control-title"
              value="{{ request.form['title'] }}"
            />
          </div>
  
          <br />
  
          <div class="form-group">
            <h2><label for="details">Contenu: </label></h2>
            <br />
            <textarea
              name="details"
              placeholder="Précisez votre question"
              class="form-control-details"
            >
        {{ request.form['details'] }}
      </textarea>
          </div>
  <br>
          <div class="form-group">
            <h2><label for="name">Nom: </label></h2>
            <br />
            <input
              type="text"
              name="name"
              placeholder="Veuillez entrer votre nom"
              class="form-control-name"
              value="{{ request.form['name'] }}"
            />
          </div>
  <br>
          <div class="form-group">
            <h2><label for="mail">Email : </label></h2>
            <br />
            <input
              type="text"
              name="mail"
              placeholder="Veuillez entrer votre adresse mail"
              class="form-control-mail"
              value="{{ request.form['mail'] }}"
            />
          </div>
  <br>
          <div class="form-group">
            <button type="submit" id="submitBtn">Envoyer</button>
          </div>
          <br />
        </form>
      </div>
    </details>
  </div>
  
  
  
  
  <div id="contact">
    <img
      src="{{ url_for('static', filename= 'images/CIF.png') }}"
      height="300px"
    />
    <div class="contact">
      📇 - Contacts:<br /><br />
      > <u>Président:</u><br /><br />
      Gabriel Merville - gabriel.merville@franklinparis.com / TheGoat#0217<br /><br /><br />
      > <u>Vice Président:</u><br /><br />
      Luc de la Bellière<br /><br /><br />
      > <u>Modérateurs: </u><br /><br />
      -Oscar Faure <br />
      -Augustin Eydoux <br />
    </div>
  </div>
  {% endif %}

  {% endblock %}
  

